<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <div>
          <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
          </p>
          <p>
            <a href="{% url 'todo_item_create' %}">Create a new item</a>
          </p>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for one_list in all_todo_list %}
              <tr>
                <td>
                  <a href="{% url 'todo_list_detail' one_list.id %}">{{ one_list.name }}</a>
                </td>
                <td>{{ one_list.items.count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
